body {
  background-color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
  color: rgb(36, 83, 153);
  padding-bottom: 20px;
}
h2 {
  margin: 10px;
  text-align: center;
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border: rgb(152, 240, 243) solid 1px;
  box-shadow: 0px 2px 5px 3px rgb(122, 221, 246);
  padding: 7px;
}

.container {
  max-width: 600px;
  background: rgb(189, 237, 247);
  padding: 30px;
  border-radius: 10px;
  margin: 60px auto;
  box-shadow: 1px 7px 29px 0px rgb(138, 197, 209);
}
.city {
  display: flex;
  color: rgb(38, 38, 114);
  justify-content: space-between;
  margin: 10px 0;
  text-align: center;
  border-bottom: 1px dashed rgba(150, 171, 218, 0.5);
  padding: 30px 0;
}
.city:last-child {
  border: none;
}
.date {
  font-size: 18px;
  opacity: 0.4;
  text-align: left;
}
.time {
  font-size: 48px;
  font-weight: bold;
  color: rgb(76, 76, 218);
}
.time small {
  vertical-align: middle;
  font-size: 24px;
  line-height: 36px;
}
footer {
  text-align: center;
  padding: 20px 0;
  opacity: 0.7;
  font-size: 18px;
}
